/* Common-CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Montserrat", sans-serif; */
}
body {
  min-width: 1300px;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-weight: 900;
  font-size: 2.75rem;
}
h2 {
  text-align: center;
  font-weight: 800;
  font-size: 1.75rem;
}
h3 {
  padding-top: 20px;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: "Montserrat";
}
h4 {
  text-transform: uppercase;
  color: #32495b;
  margin-bottom: 20px;
}
p {
  margin: 2rem 0;
  color: #32495b;
  font-weight: 600;
  line-height: 1.5rem;
  font-size: 14px;
}

/* Utility-rules */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 70%;
  margin: auto;
}

.container_sm {
  width: 57%;
  margin: 40px auto;
}
.col_2 {
  float: left;
  width: 50%;
}
.col_4 {
  float: left;
  width: calc(100% / 4);
  padding: 15px 0;
}
.col_left {
  float: left;
  width: 25%;
}

.col_right {
  width: 75%;
  float: left;
}
.btn {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
}
.btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border: 1px solid #f57559;
  background-color: white;
  color: #32495b;
}
.btn_red {
  background-color: #f57559;
  color: white;
}

.btn_empty {
  border: 1px solid #f57559;
  border-radius: 5px;
  background-color: white;
  color: #32495b;
  padding: 10px;
}
.btn_empty:hover {
  background-color: #f57559;
  color: white;
}
.btn_lg {
  font-size: 1.15rem;
  font-weight: 600;
  line-height: 2.5rem;
  width: 180px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
.text_right {
  text-align: right;
}
/* Bonus Dropdown Menu CSS */

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  border: 1px solid #32495b;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 75px;
  padding-top: 5px;
}
.dropdown-content a {
  display: block;
  text-align: center;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown-content .elements img {
  width: 50px;
  float: left;
}
.dropdown-content::before {
  content: "";
  position: absolute;
  border-color: #32495b;
  border: solid transparent;
  border-bottom-color: white;
  border-width: 11px;
  margin-left: -10px;
  top: -21px;
  right: 65px;
  z-index: 1;
}
.dropdown-content::after {
  content: "";
  position: absolute;
  right: 66px;
  top: -21px;
  width: 0;
  height: 0;
  border: solid transparent;
  border-width: 10px;
  border-bottom-color: #32495b;
  z-index: 0;
}

/****************
 Header-CSS
****************/

/* navbar-top */

nav a {
  text-decoration: none;
}

#nav-top {
  line-height: 70px;
  background-color: #f4f9fd;
  border-bottom: 2px solid#32495b;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}
.dropdown-content {
  top: 55px;
  right: -51px;
}
.dropdown .dropdown-content a {
  line-height: 35px;
}
.elements span:not(:last-child) {
  font-weight: 600;
}
#nav-top a:not(.btn) {
  text-decoration: none;
  color: #32495b;
  font-weight: 400;
  font-size: 15px;
}
#nav-top .col_2 img {
  width: 15px;
  height: 15px;
}

img.search_icon {
  margin-right: 20px;
}

#globe {
  filter: invert(100%);
}
#nav-top .fa-angle-down {
  border-right: 1px solid #32495b;
  padding-right: 10px;
  margin-right: 10px;
}
#nav-top .btn:hover {
  box-shadow: 0 0.1rem 0.3rem rgb(0 0 0 / 20%);
}
/* navar bottom-CSS */

#nav-bottom {
  margin-top: 70px;
}
#nav-bottom .row {
  line-height: 70px;
}
#nav-bottom .row .col_right .dropdown .dropdown-content {
  left: -30px;
  width: 350px;
}
#nav-bottom .row .col_right .dropdown .dropdown-content::before {
  right: 224px;
}
#nav-bottom .row .col_right .dropdown .dropdown-content::after {
  right: 225px;
}
#nav-bottom .row .col_right .dropdown .dropdown-content .elements {
  line-height: 25px;
}

#nav-bottom .col_2 {
  width: 30%;
}
#nav-bottom > .row > .col_left > img {
  width: 30%;
  vertical-align: middle;
}

#nav-bottom li {
  list-style: none;
  display: inline-block;
}
#nav-bottom a {
  text-decoration: none;
  color: #32495b;
  padding: 0 0.5rem;
  font-size: 15px;
}

/* Jumbotron-CSS */

.jumbotron {
  height: 650px;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 85%;
  position: relative;
}
.jumbotron_text {
  position: absolute;
  top: 70px;
  width: 36%;
}
.jumbotron_text p:last-child {
  font-size: 12px;
}
.banner {
  position: absolute;
  bottom: 0;
  height: 75px;
  width: 100%;
  background-color: #afebe4;
  border-top: 3px solid #32495b;
  border-bottom: 3px solid #32495b;
}

/**************
Main-CSS
**************/

/******
 prima sezione card
 *****/

.cubo {
  background-color: #f4f9fd;
}
.cubo .container {
  margin-bottom: 40px;
}

.cubo .main_text {
  text-align: center;
  padding: 60px 150px;
}
.main_text img {
  width: 35%;
}

/*card*/

.card {
  float: left;
  background-color: white;
  box-shadow: 0 0 2px 1px #7977776e;
  border-radius: 5px;
  /* height: 30vh; */
  width: 50px;
}

/* riga superiore */
.row_top .card {
  width: 100%;
  margin-bottom: 40px;
}
.row_top .card_content {
  float: left;
}
.cubo .row_top > .card > .card_content:first-child {
  padding-top: 5%;
  width: 30%;
}
.cubo .row_top > .card > .card_content:last-child {
  padding: 5%;
  width: 70%;
}
.row_top img {
  display: block;
  margin: 10% auto;
  text-align: center;
  width: 50%;
}
.cubo .row_top .btn,
.row_bottom .card .btn {
  display: block;
  margin: 10% auto;
  text-align: center;
  width: 140px;
  line-height: 2rem;
}

.row_top .card_content h4::after,
.row_bottom .card h4::before {
  content: "";
  display: inline-block;
  height: 1px;
  background-color: #32495b;
}
.row_top .card_content h4::after {
  width: 330px;
  margin-left: 70px;
}

.row_top .card_content > ul > li {
  color: #32495b;
  list-style: none;
  display: inline-block;
  padding-right: 15px;
}
.row_top .card_content > ul > li::before,
.row_bottom .card > ul > li::before {
  color: white;
  background-color: #f57559;
  line-height: 14px;
  height: 14px;
  content: " \2713";
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  margin-right: 15px;
}

/* riga inferiore */

.row_bottom .card {
  text-align: center;
  width: calc(100% / 3 - 80px / 3);
  padding: 30px;
}
.row_bottom .card:nth-child(2) {
  margin: 0 40px;
}
.row_bottom .card > img {
  width: 100px;
  height: 100px;
}
.row_bottom .card h4::before {
  width: 100%;
  margin: 15% 0;
}
.row_bottom .card > ul {
  margin-bottom: 40px;
}
.row_bottom .card > ul > li {
  text-align: justify;
  color: #32495b;
  list-style: none;
  padding-right: 15px;
  padding-top: 5px;
}

/*****
sezione sfondo blu
*****/

.blu {
  background: linear-gradient(45deg, #31a5bc, #4cbda6);
  padding-bottom: 50px;
}
.blu .main_text {
  padding: 40px 0;
}
.blu .main_text,
.blu p,
.blu h2,
.blu span {
  color: white;
}

/* colonne */

.blu .col_4 {
  text-align: center;
  width: calc(100% / 4 - 1px);
}
.blu .main_text p {
  text-align: center;
}
.blu .col_4 img {
  height: 25px;
  width: 80px;
}
.blu .col_4 h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  margin: 15px 0;
  line-height: 2.25rem;
}
.blu .col_4 span {
  font-size: 12px;
}
/* Bordi bianchi colonne */

.blu .row_top .col_4 {
  text-align: center;
  border-bottom: 1px solid white;
}

.blu .row_top .col_4:nth-child(2),
.blu .row_bottom .col_4:nth-child(2) {
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.blu .row_top .col_4:nth-child(3),
.blu .row_bottom .col_4:nth-child(3) {
  border-right: 1px solid white;
}

/******
sezione finale
******/

.bottom .col_right {
  height: 100%;
  padding-left: 15%;
  padding-top: 10px;
}
.col_right .cont {
  float: left;
  height: 50px;
  width: 25%;
  line-height: 50px;
  margin-bottom: 10px;
}
.cont img {
  max-width: 100%;
  vertical-align: middle;
  padding-left: 20px;
}
.bottom .main_text {
  padding-top: 40px;
}
.bottom .main_text p:last-child {
  font-size: 12px;
}
.bottom h2 {
  text-align: left;
  font-size: 2rem;
}

.bottom .col_2 img {
  width: 60%;
}

/***************
Footer 
****************/
#footer {
  background-color: #32495b;
}
footer a {
  text-decoration: none;
  color: #cbd6e2;
  font-size: 14px;
  font-weight: 600;
}
footer span {
  font-size: 14px;
  font-weight: 600;
}

/* footer riga superiore */

footer .row_top {
  border-bottom: 1px solid white;
  padding-top: 20px;
  padding-right: 20px;
}
footer .row_top .col_4:last-child {
  width: 100%;
}
footer .col_4 {
  padding: 0 20px;
}
footer .col_4 p {
  display: block;
  color: #cbd6e2;
  margin: 0.5rem;
}
footer .col_4 p:first-child {
  color: white;
  margin-bottom: 1rem;
}
footer .btn {
  background-color: #dadee0;
  border: 1px solid white;
  color: #32495b;
  font-size: 12px;
  display: block;
  width: 90%;
  margin-left: 8px;
  margin-top: 1rem;
}
footer .col_4:last-child p:last-child {
  margin-bottom: 2rem;
}
.col_4 .social_link .fab {
  color: #cbd6e2;
  padding: 15px 10px;
}
footer .row_top .col_4:last-child {
  width: 100%;
  color: #cbd6e2;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 20px;
}
footer .row_top .col_4 span {
  padding-right: 10px;
}

/* footer riga inferiore */

footer .row_bottom {
  padding: 40px 0;
}

footer .row_bottom .col_2 img {
  width: 5.5rem;
  filter: opacity(70%);
}

footer .col_2 span {
  display: block;
  color: white;
  margin: 5px 0;
}
footer .text_right a {
  padding-left: 20px;
}
