/* Common-CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Montserrat", sans-serif; */
}
body {
  min-width: 1400px;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  margin: 2rem 0;
  color: #32495b;
  font-weight: 600;
  line-height: 2rem;
  font-size: 15px;
}

/* Utility-rules */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 70%;
  margin: auto;
}

.container_sm {
  width: 60%;
  margin: auto;
}
.col_2 {
  float: left;
  width: 50%;
}
.btn {
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
}
.btn_red {
  background-color: #f57559;
  color: white;
}

.btn_empty {
  border: 1px solid #f57559;
  border-radius: 5px;
  background-color: white;
  color: #32495b;
  padding: 10px;
}
.btn_lg {
  font-size: 1.15rem;
  font-weight: 600;
  line-height: 2.5rem;
  width: 180px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

/* Bonus Dropdown Menu CSS */

.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  display: block;
  text-align: left;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.text_right {
  text-align: right;
}

/****************
 Header-CSS
****************/

/* navbar-top */
nav {
  line-height: 70px;
}
nav a {
  text-decoration: none;
}

#nav-top {
  background-color: #f4f9fd;
  border-bottom: 2px solid#32495b;

  /* position: fixed;
  width: 100%;
  top: 0; */
}
#nav-top a:not(.btn) {
  text-decoration: none;
  color: #32495b;
  font-weight: 400;
  font-size: 15px;
  /* padding: 10px 20px; */
}
#nav-top .col_2 img {
  width: 15px;
  height: 15px;
}

img.search_icon {
  margin-right: 20px;
}

#globe {
  filter: invert(100%);
}
#nav-top .fa-angle-down {
  border-right: 1px solid #32495b;
  padding-right: 10px;
  margin-right: 10px;
}

/* navar bottom-CSS */
#nav-bottom .col_right {
  width: 70%;
  float: left;
}
#nav-bottom .col_2 {
  width: 30%;
}
#nav-bottom img {
  width: 30%;
  vertical-align: middle;
}

#nav-bottom li {
  list-style: none;
  display: inline-block;
}
#nav-bottom a {
  text-decoration: none;
  color: #32495b;
  padding: 0 0.5rem;
  font-size: 15px;
}
/* Jumbotron-CSS */

.jumbotron {
  height: 700px;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 85%;
  position: relative;
}
.jumbotron_text {
  position: absolute;
  top: 70px;
  width: 36%;
}
.jumbotron_text h1 {
  font-weight: 900;
  font-size: 2.75rem;
  font-family: "Montserrat";
}

.jumbotron .container {
  height: 100%;
}
.banner {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #afebe4;
  border-top: 3px solid #32495b;
  border-bottom: 3px solid #32495b;
}

/**************
Main-CSS
**************/

.powerfull {
  height: 800px;
  background-color: #f4f9fd;
}

.main_text {
  text-align: center;
  padding: 60px 150px;
}
.main_text img {
  width: 35%;
}

.main_text h2 {
  font-weight: 900;
  font-size: 2rem;
  font-family: "Montserrat";
}
.card {
  float: left;
  background-color: white;
  box-shadow: 0 0 2px 1px #7977776e;
  border-radius: 5px;
  height: 30vh;
  width: 50px;
}
.row_top .card {
  width: 100%;
  margin-bottom: 40px;
}
.row_bottom .card {
  width: calc(100% / 3 - 40px / 3);
}
.row_bottom .card:nth-child(2) {
  margin: 0 20px;
}
