/* Common-CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 70%;
  margin: auto;
}

.container_sm {
  width: 60%;
  margin: auto;
}
.col_2 {
  float: left;
  width: 50%;
}
.btn {
  padding: 10px 10px;
  text-decoration: none;
  background-color: #f57559;
  color: white;
  border-radius: 5px;
}

.btn_empty {
  border: 1px solid #f57559;
  border-radius: 5px;
  background-color: white;
  color: #f57559;
}
.btn_lg {
  background-color: #f57559;
  font-weight: 600;
  line-height: 3.5rem;
  width: 210px;
  display: inline-block;
  height: 60px;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}
.text_right {
  text-align: right;
}

/****************
 Header-CSS
****************/

/* navbar-top */
nav {
  line-height: 70px;
}

#nav-top {
  background-color: #f4f9fd;
  border-bottom: 2px solid#32495b;

  /* position: fixed;
  width: 100%;
  top: 0; */
}
#nav-top a:not(.btn),
#nav-bottom a {
  text-decoration: none;
  color: #32495b;
  font-weight: 400;
  font-size: 15px;
  padding: 0.5rem;
}
#nav-top .col_2 img {
  width: 15px;
  height: 15px;
}

#globe {
  /* background-color: black; */
  filter: invert(100%);
}
#nav-top .fa-angle-down {
  border-right: 1px solid #32495b;
  padding-right: 15px;
}

/* navar bottom-CSS */

#nav-bottom img {
  width: 20%;
  padding-top: 15px;
}

/* Jumbotron-CSS */

.jumbotron {
  height: 610px;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.jumbotron_text {
  position: absolute;
  top: 70px;
  width: 40%;
}
.jumbotron_text h1 {
  font-size: 2.5rem;
}
.jumbotron_text p {
  margin: 2rem 0;
  color: #32495b;
  font-weight: 600;
  line-height: 1.5rem;
}
