/* Common-CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Montserrat", sans-serif; */
}
body {
  min-width: 1300px;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-weight: 900;
  font-size: 2.75rem;
  font-family: "Montserrat";
}
h3 {
  padding-top: 20px;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: "Montserrat";
}
h4 {
  text-transform: uppercase;
  color: #32495b;
  margin-bottom: 20px;
}
p {
  margin: 2rem 0;
  color: #32495b;
  font-weight: 600;
  line-height: 1.5rem;
  font-size: 14px;
}

/* Utility-rules */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 70%;
  margin: auto;
}

.container_sm {
  width: 60%;
  margin: auto;
}
.col_2 {
  float: left;
  width: 50%;
}
.btn {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
}
.btn_red {
  background-color: #f57559;
  color: white;
}

.btn_empty {
  border: 1px solid #f57559;
  border-radius: 5px;
  background-color: white;
  color: #32495b;
  padding: 10px;
}
.btn_lg {
  font-size: 1.15rem;
  font-weight: 600;
  line-height: 2.5rem;
  width: 180px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

/* Bonus Dropdown Menu CSS */

.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  display: block;
  text-align: left;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.text_right {
  text-align: right;
}

/****************
 Header-CSS
****************/

/* navbar-top */
nav {
  line-height: 70px;
}
nav a {
  text-decoration: none;
}

#nav-top {
  background-color: #f4f9fd;
  border-bottom: 2px solid#32495b;

  /* position: fixed;
  width: 100%;
  top: 0; */
}
#nav-top a:not(.btn) {
  text-decoration: none;
  color: #32495b;
  font-weight: 400;
  font-size: 15px;
  /* padding: 10px 20px; */
}
#nav-top .col_2 img {
  width: 15px;
  height: 15px;
}

img.search_icon {
  margin-right: 20px;
}

#globe {
  filter: invert(100%);
}
#nav-top .fa-angle-down {
  border-right: 1px solid #32495b;
  padding-right: 10px;
  margin-right: 10px;
}

/* navar bottom-CSS */
#nav-bottom .col_right {
  width: 70%;
  float: left;
}
#nav-bottom .col_2 {
  width: 30%;
}
#nav-bottom img {
  width: 30%;
  vertical-align: middle;
}

#nav-bottom li {
  list-style: none;
  display: inline-block;
}
#nav-bottom a {
  text-decoration: none;
  color: #32495b;
  padding: 0 0.5rem;
  font-size: 15px;
}
/* Jumbotron-CSS */

.jumbotron {
  height: 650px;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 85%;
  position: relative;
}
.jumbotron_text {
  position: absolute;
  top: 70px;
  width: 36%;
}

.jumbotron .container {
  height: 100%;
}
.banner {
  position: absolute;
  bottom: 0;
  height: 75px;
  width: 100%;
  background-color: #afebe4;
  border-top: 3px solid #32495b;
  border-bottom: 3px solid #32495b;
}

/**************
Main-CSS
**************/

/******
 prima sezione card
 *****/

.cubo {
  background-color: #f4f9fd;
}
.cubo .container {
  margin-bottom: 40px;
}

.main_text {
  text-align: center;
  padding: 60px 150px;
}
.main_text img {
  width: 35%;
}

.main_text h2 {
  font-weight: 800;
  font-size: 1.5rem;
  font-family: "Montserrat";
}

/*card*/

.card {
  float: left;
  background-color: white;
  box-shadow: 0 0 2px 1px #7977776e;
  border-radius: 5px;
  /* height: 30vh; */
  width: 50px;
}

/* riga superiore */
.row_top .card {
  width: 100%;
  margin-bottom: 40px;
}
.row_top .card_content {
  float: left;
}
.cubo .row_top > .card > .card_content:first-child {
  padding-top: 5%;
  width: 30%;
}
.cubo .row_top > .card > .card_content:last-child {
  padding: 5%;
  width: 70%;
}
.row_top img {
  display: block;
  margin: 10% auto;
  text-align: center;
  width: 50%;
}
.row_top .btn,
.row_bottom .card .btn {
  display: block;
  margin: 10% auto;
  text-align: center;
  width: 140px;
  line-height: 2rem;
}

.row_top .card_content h4::after,
.row_bottom .card h4::before {
  content: "";
  display: inline-block;
  height: 1px;
  background-color: #32495b;
}
.row_top .card_content h4::after {
  width: 330px;
  margin-left: 70px;
}

.row_top .card_content > ul > li {
  color: #32495b;
  list-style: none;
  display: inline-block;
  padding-right: 15px;
}
.row_top .card_content > ul > li::before,
.row_bottom .card > ul > li::before {
  color: white;
  background-color: #f57559;
  line-height: 14px;
  height: 14px;
  content: " \2713";
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  margin-right: 15px;
}

/* riga inferiore */

.row_bottom .card {
  text-align: center;
  width: calc(100% / 3 - 80px / 3);
  padding: 30px;
}
.row_bottom .card:nth-child(2) {
  margin: 0 40px;
}
.row_bottom .card > img {
  width: 100px;
  height: 100px;
}
.row_bottom .card h4::before {
  width: 100%;
  margin: 15% 0;
}
.row_bottom .card > ul {
  margin-bottom: 40px;
}
.row_bottom .card > ul > li {
  text-align: justify;
  color: #32495b;
  list-style: none;
  padding-right: 15px;
  padding-top: 5px;
}

/*****
sezione sfondo blu
*****/
.blu {
  background-color: #44b5ad;
}
.blu .main_text {
  padding: 40px 0;
}
.blu .main_text,
.blu p,
.blu h2,
.blu span {
  color: white;
}
.col_4 {
  text-align: center;
  float: left;
  width: calc(100% / 4);
  padding: 15px 0;
}
.col_4 img {
  height: 25px;
  width: 80px;
}
.col_4 h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  margin: 15px 0;
  line-height: 2.25rem;
}
.col_4 span {
  font-size: 12px;
}
.blu .row_top .col_4 {
  border-bottom: 1px solid white;
}

.blu .row_top .col_4:nth-child(2),
.blu .row_bottom .col_4:nth-child(2) {
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.blu .row_top .col_4:nth-child(3),
.blu .row_bottom .col_4:nth-child(3) {
  border-right: 1px solid white;
}
